@import "../Variables.scss";

.city{
    font-family: $secondaryFontStack;
    text-transform: uppercase;
    color: $lightCold;
    text-shadow: 2px 2px 5px RGBA(0, 44, 43, 0.2);
    font-size: 3rem;
    text-align: end;
    padding-top: 17vh;
    padding-right: 0.2rem;
    margin: 0;
    line-height: 0.7rem;
}