@import "../Variables.scss";

.frontPage{
    color: $lightCold;
    text-shadow: 2px 2px 5px RGBA(0, 44, 43, 0.2);
    box-shadow: 2px 2px 5px RGBA(0, 44, 43, 0.2);
    margin-top: 8vh;
    margin-left: 3rem;
    background-color: $coldBackgroundTransparent;
    text-align: end;
    padding: 1rem 1rem 1rem 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
    &__subheader{
        font-size: 1.4rem;
        margin: 0;
    }
    
    &__header{
        -padding: 1rem 0 1rem 0;
        padding-bottom: 1rem;

        p{
            text-transform: uppercase;
            font-size: 3.5rem;
            line-height: 3.2rem;
            margin: 0;
            font-weight: bold;
        }
    }
    
    &__description{
        font-size: 0.8rem;
        padding-left: 25vw;
        margin: 0;
    }
}