@import "../Variables.scss";

.search{
    display: grid;
    justify-content: center;
    max-width: 100%;
    background-image: linear-gradient(to bottom, RGBA(0, 44, 43, 0.2) 60%, transparent);
    padding-bottom: 2rem;

    &__label{
        grid-area: 1/1/2/3;
        justify-self: center;
        color: $cold;
        padding: 1rem 0 0.5rem 0;
    }

    &__input{
        grid-area: 2/1/3/3;
        
        input{
            font-size: 1rem;
            border: none;
            color: $cold;
            border-bottom: 2px solid $lightCold;
            background-color: transparent;
            outline: none;
            padding-left: 0.5rem;
            font-style: italic;
        }

        button{
            font-size: 1rem;
            border: none;
            color: $coldBackground;
            background-color: $lightCold;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 3px 1rem;
        }
    }
}