@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$mainFontStack: "Merriweather Sans", "Roboto", Verdana, Helvetica, sans-serif;
$secondaryFontStack: "Roboto", "Merriweather Sans", Verdana, Helvetica, sans-serif;

$coldBackground: #e0e7e7;
$coldBackgroundTransparent: RGBA(224, 231, 231, 0.7);
$cold: #076461;
$darkCold: #002C2B;
$lightCold: #0A837F;

$warmBackground: #fcf8e4;
$warm: #FFBC11;